body {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  display: block;
}

.bar {
  position: fixed;
  font-family: Helvetica,sans-serif;
  background-position: 0 0;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  text-align: left!important;
  position: absolute;
  top: 20px;
  margin-left: 100px;
}

#logoWhite {
  height: 40px;
  margin-top: 15px;
}

#logoPink {
  height: 40px;
  margin-top: 15px;
  display: none;
}

.floatRight {
  float: right;
}

.menu, .logIn, .signUp {
  display: inline-block;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  margin: 20px 0 0 20px;
}

.aMenu, .aLogIn, .aSignUp {
  text-decoration: none;
  padding: 10px;
}

.aMenu:hover {
  color: #ff00bf;
}

.colorMenu {
    color: whitesmoke;
}

.logIn, .signUp {
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  white-space: nowrap;
}

.logIn:hover{
  background-color: rgba(255,255,255,0.2);
}

.changeColor li a {
  color: #333447;
}

.signUp {
  border: 2px solid #ff00bf;
  visibility: hidden;
}

.aSignUp {
  color: #ff00bf!important;
}
