header {
  width: 100%;
  display: block;
  background-color: #333447;
}

.bar {
  position: fixed;
  display: absolute;
  font-family: Helvetica,sans-serif;
  background-position: 0 0;
  background-color: #333447;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: inline-block;
  position: relative;
  color: #FFF;
  font-family: Arial Black,sans-serif;
  font-weight: bolder;
  font-size: 35px;
  text-align: left!important;
  list-style: none;
  margin-left: 100px;
}

.space {
  visibility: hidden;
  display: inline-block;
  margin-left: 350px;
  list-style: none;
}

.menu {
  display: inline-block;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  margin-left: 50px;
}

.aMenu {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

.aMenu:hover {
  color: #ff00bf;
}

.logIn, .singUp {
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
}

/*.logIn:hover{
  background-color: rgb(255, 255, 255, 0);
  color: #FFF;
}*/

.singUp {
  visibility: hidden;
}
