body {
  height: 100%;
  width: 100%;
}
header {
  width: 100%;
  display: block;
  background-color: #333447;
}

.bar {
  position: fixed;
  display: absolute;
  font-family: Helvetica,sans-serif;
  background-position: 0 0;
  color: whitesmoke;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  display: inline-block;
  text-align: left!important;
  list-style: none;
  margin-left: 100px;
}

#logoWhite {
  height: 40px;
  margin-top: 15px;
}

#logoPink {
  height: 40px;
  margin-top: 15px;
  display: none;
}

.space {
  visibility: hidden;
  display: inline-block;
  margin-left: 350px;
  list-style: none;
}

.menu, .logIn, .singUp {
  display: inline-block;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
  margin-left: 50px;
}

.aMenu, .aLogIn {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

.aMenu:hover {
  color: #ff00bf;
}

.logIn, .singUp {
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  white-space: nowrap;
}

.logIn:hover{
  background-color: rgba(255,255,255,0.2);
}

.singUp {
  visibility: hidden;
}
