footer{
	background-color: rgb(51,52,71);
	font-family: Helvetica, sans-serif;
}
.texto{
	color: white;
	text-decoration: none;
}
.container_footlist{
	display: inline;
}
.footer_lista{
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.selective:hover{
	color: rgb(198, 11, 98);
}
.accesos{
	display: inline-block;
	padding: 60px;
}
.final{
	margin-right: 18px;
	padding: 0;
}
.stores li img {
	width: 150px;
	height: 40px;
}
.footerfinal{
 display: inline;
}

hr{
	width: 200px;
	padding-left: 400px;
	
}

#footerfinal{
	padding-left: 450px;
}