footer{
	background-color: rgb(51,52,71);
	font-family: Helvetica, sans-serif;
	position: absolute;
	width: 100%;
	color: white;
}
.texto{
	color: white;
	text-decoration: none;
}
.container_footlist{
	display: inline;
}
.footer_lista{
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.underline:hover {
	text-decoration: underline;
}

.accesos{
	display: inline-block;
	padding: 30px;
}
.final{
	margin-right: 18px;
	padding: 0;
}
.stores li img {
	width: 150px;
	height: 40px;
}
.container_iconlist {
	display: inline-block;
	position: absolute;
	left: 900px;
	top: 80px;
}
#footerfinal-icons, #footerfinal-credits{
	display: block;
	position: relative;
	left: 500px;
}
#footerfinal-credits {
	left: 400px;
}
hr{
	width: 40%;
	position: absolute;
	top: 445px;
	left: 300px;
}
