footer{
	background-color: rgb(51,52,71);
	font-family: Helvetica, sans-serif;
	position: absolute;
	width: 100%;
}
.texto{
	color: white;
	text-decoration: none;
}
.container_footlist{
	display: inline;
}
.footer_lista{
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
}
.selective:hover{
	color: #ff00bf;
}
.bold:hover{
	text-decoration: underline;
}
.accesos{
	display: inline-block;
	padding: 30px;
}
.final{
	margin-right: 18px;
	padding: 0;

}
.stores li img {
	width: 150px;
	height: 40px;
}
.container_iconlist {
	display: inline-block;
	position: absolute;
	right: 300px;
	top: 80px;
}
#footerfinal{
	display: block;
	position: relative;
	left: 300px;
	bottom: 10px;
}
hr{
	width: 70px;
	padding-left: 250px;
	position: absolute;
	top: 23px;
}