.container-form{
  height: 700px;
  background-image: url("../img/hero-poster.jpg");
}

.data-box{
  float: right;
  margin-top: 150px;
  margin-right: 25px;
  border: 1px solid #352384;
  display: -webkit-flex;
  display: flex;
  width: 500px;
  height: 500px;
  background-color: white;
}

/*No se si esto sea necesario*/
.register{
  border: 1px solid #352384;
  margin: 40px;
  width: 490px;
}

.letters{
  border: 1px solid #352384;
  font-family: "Helvetica";
  margin: 5px;
  font-size: 35px;
  color: #352384;
  letter-spacing: 2px;
}

#sign-up{
  font-size: 15px;
}

/*

.form{
  background: white;
  color: rgb(52, 35, 130);
  border: 1px solid black;
  margin-top: 100px;
  float: right;
  padding: 30px;
}

.data{
  display: block;
  font-size: 15px;
  margin: 10px;
  border: none;
}

.button{
  margin-top: 15px;
  padding: 15px 24px;
  font-size: 18px;
  color: white;
  background: rgb(255, 0, 191);
  border: 1px solid #FF00BF;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.sign-up{
  padding: 10px 15px;
  font-size: 13px;
  color: #d6d6d6;
  background: white;
  border: 1px solid white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}*/
