.sectionCellphone {
  clear: both;
}
.divCotainer {
  background: linear-gradient(#76278f,#2b1e66);
  width: 100%;
  height: 100%;
}
.divImage {
  display: inline-block;
  height: 500px;
  width: 500px;
}
#imageCellPhone {
  display: inline-block;
  min-height: 300px;
  max-height: 500px;
  min-width: 300px;
  max-width: 500px;
  margin-top: 100px;
  margin-left: 100px;
}
.divCenter {
  margin-left: 150px;
  margin-right: 150px;
}
.divText {
  display: inline-block;
  width: 500px;
  height: 500px;
  margin-bottom: 90px;
}
.textCellPhone {
  text-align: left;
  font-family: arial;
  color: #f3f3f5;
  font-size: 150%;
  margin-bottom: 50px;
}
